.video-item-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 20px 0;
    cursor: pointer;
}

.video-item-container img {
    max-width: 180px;
    margin: 5px;
}

.video-item-container p {
    font-size: 0.7rem;
    font-weight: bold;
    margin: 5px;
}